# OS / Editor junk
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.swo
*.bak

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build / Dist
dist/
build/
.out/
.next/
.cache/
coverage/

# Environment files


# PHP
/vendor/
composer.lock

# IDE / Editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Others
*.zip
*.tar.gz
*.tgz

# Palm hot reload files
.palm-reload-notify
.palm-file-watcher.php
.palm-router.php
.palm-websocket-server.php
.palm-ws-port
.palm-ws-server.log

# Compiled assets
src/assets/compiled/
storage/cache/assets/

# Documentation (local development)
My_Docs/
